/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

.section {
    @apply my-4;
}

.section__title {
    @apply text-2xl mb-1;
}

.link {
    @apply text-blue-700 underline;
}

.contact-table__cell {
    @apply py-1 pr-1;
}

th {
    text-align: left;
    font-weight: normal
}

address {
    font-style: normal;
}