/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    font-family: sans-serif;
    
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


sup {
	font-size: 50%;
	vertical-align: super;
	top: 0;
}

body {
	background-image: url('../img/black-stripe.png');
	position: absolute;
	top: 20px;
	bottom: 20px;
	left: 20px;
	right: 20px;
}

a {
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Century Gothic", sans-serif;
}

h2 {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	font-size: 1.8em;
}

h3 {

}

#site-header {
	position: absolute;
	top: 0; left: 0; right: 0;
	height: 80px;
}

#content-row {
	position: absolute;
	top: 80px; left:0; right: 0; bottom: 0;
}

.header-text {
	color: #888888;
	font-size: 60px;
	margin-top: -10px;
	margin-left: 5px;
	float: right;
}

.header-subtitle {
	color: #888888;
	float:right;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

#external-links {
	margin: 0;
	padding: 0;
}

.external-links-nav {
	float: right;
}

.nav-list-item {
	display: inline-block;
}

.external-link {
	height: 60px;
	width: 60px;
	margin-left: 20px;
	margin-bottom: 20px;
	display: inline-block;
}

#header-wrapper {
	width: 100%;
}

#main-nav {
	display: inline-block;
	height: 100%;
	width: 80px;
	float: left;
}

.spacer {
	display: block;
    position: relative;
    float: left;
}

.oblong {
    position: relative;
    float: left;
	border-radius: 10px;
	border: 1px solid #444444;
    overflow: hidden;
}

.oblong:after {
	border-radius: 10px;
}

.section-header-text {
	margin: 20px;
	margin-top: 0.2em;
	font-size: 3em;
    text-align: left;
}

.section-text {
	position: absolute;
	top: 5em; bottom: 0; left: 0; right: 0;
}

#nav-list {
	padding: 0;
	margin: 0;
	height: 100%;
}
.nav-link {
	box-shadow: 0 0 5px 5px;
	color:  rgba(0, 0, 0, 0);
	display: block;	
}
	
.nav-link:focus {
    -moz-outline-style: none;     
    outline-style: none;
    outline-width: 0px;
    outline-color: -moz-use-text-color;
}

.nav-link:hover .nav-link-text, .nav-link:focus .nav-link-text  {
	color: rgba(255, 255, 255, 1);
}

.nav-link-text {
	color: rgba(0, 0, 0, 0);
	position: relative;
	text-decoration: none;
	font-weight: bold;
	font-size: smaller;
	vertical-align: bottom;
}

.nav-link-text-wrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	vertical-align: bottom;
}

.nav-link-icon {
	position: absolute;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	height: 50%;
	margin-top: 25%;
}

.nav-node {
	float: left;
	margin-bottom: 15px;
}

#content {
	position: absolute;
	top: 0; 
	bottom: 0;
	right: 0;
}

#content-main {
	position: absolute;
	top: 0; 
	left: 0;
	bottom: 0;
	width: 60%;
    display: inline-block;
}

.fade-wrapper {
	display: none;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
}

#content-header {
	margin: 0;
	padding: 0;
	height: 15%;
}

.content-icon-background {
    position: absolute;
    right: 15px;
	bottom: 15px;
	height: 300px;
	width: 300px;
    z-index: -1;
}

.viewport {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	overflow: hidden;
}

.scrollbar {
	position: relative;
	float: right;
	width: 10px;
	border-radius:10px;
	height: 100%;
	z-index: 2;
}

.track {
	height: 100%;
	width: 10px;
	position: absolute;
	padding: 0;
}

.thumb {
	height: 0px;
	cursor: pointer;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 10px;
	background: none;
}

.thumb .end {
	overflow: hidden;
	position: absolute;
	top: 0; right: 0; left: 0; bottom: 5px;
	border-radius: 10px;
	opacity: 0.6;
}

.disable {
	display: none;
}

.overview {
	list-style: none;
	position: absolute;
	left: 20px;
	right: 20px;
	top: 0;
	color: #FFFFFF;
}

.overview p {
	margin-top: 0;
	font-size: medium;
	
}

/** Hack to overcome Webkit's shitty text spacing and kerning */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.overview p {
		line-height: 1.2em;
		font-size: 1.05em;
	}
	
	.h2 {
		letter-spacing: 0.02em;
	}
}

.overview h2 {
/** margin-bottom: 0.2em; **/
}

/**
.overview img {
	width: 80%;
	margin-top: 0.9em;
	margin-left: 10%;
	margin-right: 10%;
	border-radius: 10px;
	opacity: 0.8;
    border: 1px solid rgba(100, 100, 100, 0.8);
}
**/

.overview a {
}


.noSelect {
	user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}

.full-width {
	float: left;
	width: 100%;
}

.project {
	margin-bottom: 0.3em;
}

.project-meta {
	float: left;   
	margin-top: 0.7em;    
	margin-bottom: 0.7em;
}

.project-icon { 
	border-radius: 5px;
    float: left;
    height: 4.5em;    
    margin: 0 1em 0 0.5em;
    width: 4.5em;
}

.project-titles {
	float: left;
}

.project-title {
	margin: 0;
}

.project-subtitle {
	margin: 0;
}

.project-technologies {
	display: block;
	margin-top: 0.1em;
	font-style: italic;
}

.project-link {
	float: left;
	display: block;
	margin-top: 0.05em;
	clear: right;
}

.project-description {
	float: left;
	overflow: hidden;
}

.project-expander, .project-collapser {
	display: block;
    margin-right: 0.5em;
    text-align: right;
}

.project-collapser {
    display: none;
  }


#content-aside {
	background: rgba(100, 100, 100, 0.2);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

.aside-text .overview {
	margin-top: -0.8em;
}


.news-item {
	float: left;
	width: 100%;
	padding-top: 0.8em;
	padding-bottom: 0.2em;
	border-bottom: 1px solid rgba(100, 100, 100, 0.5);
}

.news-source-logo {
	display: inline-block;
	height: 2em;
	width: 2em;
	margin: 0.2em 0.5em 0.3em 1em;
	float: right;
}

.source-github .news-source-logo {
	height: 2.5em;
	width: 2.5em;
	margin: 0.0em 0.3em 0.0em 1em;
}

.news-text {
	font-size: medium;
}

.news-source {
	margin-top: 0.8em;
	font-size: 0.8em;
	float: right;
	font-weight: normal;
	clear:both;
}

.news-appendices {
	margin-top: 0.8em;
	padding-left: 2.5em;
	font-size: small;
	clear: left;
	margin-bottom: 0;    
}

.news-appendix-link {
	color: #FFFFFF !important;
	font-weight: normal;
}

.news-appendix-link:hover {
	text-decoration: underline;
}

.aside-social-color, .aside-social a {
	color: #888888;
}

.aside-social-bgcolor {
	background-color: #AAAAAA;
}

.glass:after {
	box-shadow: 3px 3px 3px 0 rgba(255, 255, 255, 0.1) inset, -3px -3px 3px 0 rgba(0, 0, 0, 0.3) inset;
	/**border: 2px solid rgba(255, 255, 255, 0.1);**
	-webkit-background-origin: border-box;
    -moz-background-origin: border;
    background-origin: border-box;
    content: " ";
    display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	/**background: -moz-linear-gradient(left top, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0) 25%), -moz-linear-gradient(bottom right, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0) 25%);
	/**background: rgba(255, 255, 255, 0);
	background: -moz-linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
  	background: -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(0.5, rgba(255, 255, 255, .15)), color-stop(0.501, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0)));
	background: -o-linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
	background: -ms-linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
  background: linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));**/
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 900px) {
    .header-text {
    	font-size: 30px;
    }
}

@media only screen and (max-width: 640px) {
	body {
		left: 10px;
		right: 10px;
		top: 10px;
		bottom: 10px;			
	}
   
    #content-aside {
    	display: none;
    }
    
    #content-main {
    	width: 100%;
    }
    
    .header-text {
    	position: absolute;
    	top: 0;
    	right: 0;
		margin-top: 0;
    }
    
    #main-nav {
    	display: none;
    }
    
    .external-links-nav {
    	width: 100%;
    }
    
	#external-links {
		width: 100%;
	}
	
	.external-link {
		margin-right: 10px;
		margin-left: 0;
		margin-bottom: 10px;
	}
	
	.nav-link-text {
		font-size: xx-small;
	}
	
	.nav-link-icon {
		opacity: 0.7
	}
	
	.oblong {
		border-radius: 5px;
	}
	
	.overview, .overview p {
		font-size: small;
	}
	
	.section-header-text {
		font-size: 2em;
	}
	
	.section-text {
		top: 3.2em;
	}
	
	.content-icon-background {
	    right: 10px;
		bottom: 10px;
		height: 150px;
		width: 150px;
	}
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
