<div class="fade-wrapper">
	<header id="content-header">
		<h1 id="content-header-text" style="color: rgba({{r}}, {{g}}, {{b}}, 1)">{{title}}</h1>
	</header>
	
	<div class="content-text">
		<div class="scrollbar">
			<div class="track">
				<div class="thumb">
					<div class="end" style="background-color: rgba({{r}}, {{g}}, {{b}}, 0.4)"></div>
				</div>
			</div>
		</div>
    	<div class="viewport">
        	<div class="overview">
		
			</div>
		</div>
	</section>
	
	{{{background-icon}}}
</div>