#{{id}}	{
	background: rgba({{r}}, {{g}}, {{b}}, 1);
}

#{{id}}:focus, #{{id}}:hover {
	background: rgba({{r}}, {{g}}, {{b}}, 0.6);
}

.{{id}}-color {
	color: rgb({{r}}, {{g}}, {{b}});
}

.{{id}}-bgcolor {
	background-color: rgb({{r}}, {{g}}, {{b}});
}
