<article class="project full-width">
	<h2 class="project-title">{{title}}</h2>
			
	<div class="project-meta full-width">
		<img class="project-icon" src={{img}} />
		<h3 class="project-subtitle">{{subtitle}}</h3>
		<div class="project-technologies">{{technologies}}</div>
		<a class="project-link" href="http://{{url}}">{{url}}</a>
	</div>
	
	<div class="project-description full-width">
		{{{description}}}
	</div>
	
	<a class="project-expander" href="#">Read more</a>
	<a class="project-collapser" href="#">Read less</a>
</article>